div.body {
    font-family: helvetica, sans-serif;
    width: 350px;
    /*align-items: flex-start;*/
}
label.sillyl {
    font-weight: bold;
}
div.sillyd {
    padding-bottom: 20px;
}
input.sillyi[type="text"] {
    padding: 5px;
    width: 150px;
}

input.sillyi[type="radio"] {
    width: 30px;
}
p.story {
    background: #FFC125;
    color: #5E2612;
    padding: 10px;
}
